.mowa{
  background-color: rgb(89, 163, 15);
}
#med{
  color: aliceblue;
}
.img{
	height: 70px;
	width: 90px;
}
.momo{
  color: aliceblue;
}
.change{
  background-color: rgb(14, 11, 65);
  width: 50%;
  margin-top: 30px;
  margin-left: 350px;
  padding: 10px;
}
.text{
  text-align: center;
}
.move{
  width: 50%;
  margin-left: 200px;
}